{% extends "padre.html" %}

{% block titulo %} Busqueda

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Nombre</title>
</head>
<body>

    <h1></h1>

    <form action="/resultadoNombre/" method="GET">
        Ingresa el Nombre de la Persona: <input type="text" name="nombres">
        <input type="submit" value="Buscar">
    </form>

</body>
</html>
{% endblock %}